.texto-video{
    font-family: 'PT Serif', serif;
    display: block;
}

#op-videos {
    color: #fff;
}

#galeria-videos {
    background: radial-gradient(circle, rgb(142, 159, 247) 0%, rgb(201, 116, 250) 100%);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.galeria_div-video {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    background: rgb(197, 168, 206);
    text-align: center;
    font-size: 35px;
    margin: 20px;
    box-shadow: 4px 4px 20px 0 #000;
    border: 8px solid rgb(138, 21, 21);
    height: 400px;
    width: 400px;
    transition: background 2s, box-shadow 2s, border 2s;
    z-index: 50;
}

.galeria_div-video video {
    border-radius: 6px;
    border: 2px ridge #000;
    margin: 10px;
    max-height: 300px;
    max-width: 300px;
}

.galeria_div-video:hover {
    background: #eee;
    box-shadow: 10px 10px 25px 0 #000;
    border-color: #000;
    user-select: none;
}

#foto-fondo-div {
    position: fixed;
    top: 50px;
    height: calc(100vh - 50px);
    width: 100%;
    background-image: url(../multimedia/fondo.jpeg);
    background-size: cover;
    z-index: 1;
}

@media screen and (max-width: 500px) {
    .galeria_div-video {
        font-size: 25px;
        height: 350px;
        width: 350px;
    }

    .galeria_div-video video {
        max-height: 250px;
        max-width: 250px;
    }
}